@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/8DReport/">Home</a></li>
    <li><a href="/8DReport/Workflow">Administration</a></li>
    <li class="active">Rolemanage</li>
</ol>

<div class="alert alert-success" role="alert">
    Well done! You successfully read this important alert message. 这是一个DEMO
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <button type="button" class="btn btn-primary" onclick="javascript:edit('');">
            <span class="glyphicon glyphicon-plus-sign"></span>Create New Role
        </button>
        <button type="button" class="btn btn-default collapsed" data-toggle="collapse" data-target="#help" aria-expanded="false" aria-controls="demo">
            <span class="glyphicon glyphicon-question-sign"></span>Help <span class="caret"></span>
        </button>
    </div>
    <div id="help" class="panel-body collapse" aria-expanded="false" style="height: 30px;">
        <p class="lead">8D Report Role Management：用于查询、创建、更新 8D Role</p>
        <p><strong>Create new Role:</strong> 创建8D报告角色</p>
        <p><strong>Apply:</strong> 应用筛选条件</p>
        <p><strong>Cancel:</strong> 将筛选条件重置为默认值</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Rolemanage</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <button type="button" class="btn btn-default btn-sm collapsed" data-toggle="collapse" data-target="#filters" aria-expanded="true" aria-controls="demo">
                Filters <span class="caret"></span>
            </button>
            <div id="filters" class="collapse" style="padding: 10px;">
                <!--class="collapse in"-->

                <div class="form-group">
                    <div class="checkbox col-sm-2 col-xs-3">
                        <label>
                            Role Name
                        </label>
                    </div>
                    <div class="col-sm-3  col-xs-5">
                        <input id="txtRoleName" type="text" class="form-control" placeholder="Role Name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox col-sm-2 col-xs-3">
                        <label>
                            Date created
                        </label>
                    </div>
                    <div class="col-sm-3  col-xs-5">
                        <input id="txtDateCreated" type="datetime" class="form-control" placeholder="Date Created">
                    </div>
                </div>

            </div>

            <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#options" aria-expanded="true" aria-controls="demo">
                Options <span class="caret"></span>
            </button>
            <div id="options" class="collapse" style="padding: 10px;">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-xs-3">Order by</label>
                    <div class="col-sm-2 col-xs-4">
                        <select class="form-control">
                            <option>Serial</option>
                            <option>Date created</option>
                            <option>Subject</option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span>Apply</button>
            <button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
        </form>
    </div>

    <div class="table-responsive">
        <table id="gridTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Role Name</th>
                    <th>Modify By</th>
                    <th>ModifyDate</th>
                    <th>CreateDate</th>
                    <th>Create By</th>
                </tr>
            </thead>
            <!-- <tfoot>
                        <tr>
                            <td colspan="15">Status Example：
                            <span class="label label-success">close</span> closed /
                            <span class="label label-default">2008/8/29</span> not overdue /
                            <span class="label label-warning">2008/8/29</span> overdue but not empty /
                            <span class="label label-danger">2008/8/29</span> empty &amp; overdue
                            </td>
                        </tr>
                    </tfoot>-->
        </table>
    </div>

    <div id="grid-pager" class="panel-footer text-center"></div>
</div>

<script src="~/Contents/assets/js/jquery.dataTables.min.js"></script>
<script src="~/Contents/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/Contents/assets/js/bootbox.min.js"></script>
<script src="~/Contents/assets/js/fnReloadAjax.js"></script>

<script type="text/javascript">
    var gridTable = $('#gridTable');
    jQuery(function ($) {

        gridTable.dataTable({
            "iDisplayStart": 0, //从第几条开始
            "iDisplayLength": 2,//每页显示10条数据

            //"oLanguage": {//下面是一些汉语翻译
            //    "sUrl": "/Content/assets/js/language/jquery.dataTable.cn.js"
            //},

            "bLengthChange": false, //关闭每页显示多少条数据
            "bPaginate": true, //翻页功能
            "bFilter": false, //过滤功能
            "bAutoWidth": true,//自动宽度
            "bInfo": true,//页脚信息
            "bProcessing": true,
            "bServerSide": true,
            "sServerMethod": "POST",
            "sAjaxSource": "@Url.Content("~/Role/RoleList")",

            "aoColumns": [
                              //{
                              //    "mDataProp": "ID",
                              //    "bSearchable": false,
                              //    "bSortable": false,
                              //    "fnRender": function (oObj) {
                              //        //return '<a href=\"Details/' + oObj.aData[0] + '\">查看</a>';
                              //        return '<div class="btn-group ">' +
                              //      '<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">' +
                              //          'Action <span class="caret"></span></button>' +
                              //      '<ul class="dropdown-menu" role="menu">' +
                              //          '<li><a href="#" onclick="javascript:edit(this)"><span class="glyphicon glyphicon-edit"></span>Edit</a></li>' +
                              //          '<li><a href="#"><span class="glyphicon glyphicon-cog"></span>Configuration</a></li>' +
                              //          '<li><a href="#"><span class="glyphicon glyphicon-export"></span>Export to Excel</a></li>' +
                              //          '<li class="divider"></li>' +
                              //        '<li><a href="#"><span class="glyphicon glyphicon-remove-circle"></span>Remove</a></li>' +
                              //      '</ul></div>';
                              //    }                           //自定义列的样式
                              //},
                              { "mDataProp": "Operation", bSortable: false },
                              { "mDataProp": "RoleName", bSortable: false },
                              { "mDataProp": "ModifyUserName", bSortable: false },
                              { "mDataProp": "ModifyDate", bSortable: false },
                              { "mDataProp": "CreateUserName", bSortable: false },
                              //{ "mDataProp": "OpUserName", bSortable: false },
                              { "mDataProp": "CreateDate", bSortable: false }
                              //{ "mDataProp": "Oper", bSortable: false }
                              //,{ "sDefaultContent": '' }, // sDefaultContent 如果这一列不需要填充数据用这个属性，值可以不写，起占位作用
                              //{ "sDefaultContent": '', "sClass": "action" },//sClass 表示给本列加class
            ],

            //"sAjaxDataProp": "",
            "fnServerData": retrieveData           //获取数据的处理函数
            //"fnDrawCallback": function (oSettings) {
            //oSettings.sAjaxSource = "@Url.Content("~/Role/RoleList")";
            //alert(oSettings.sAjaxSource);
            //$('#gridTable').fnClearTable(0);
            //$('#gridTable').fnDraw();
            //}
            //,"fnServerParams": function (aoData) {
            //  aoData.push({ "name": "more_data", "value": "my_value" });
            //}
        });

        $("#btnQuery").click(function () {
            gridTable.fnReloadAjax();
        });

    });

    function retrieveData(sSource, aoData, fnCallback) {

        var roleName = encodeURIComponent($("#txtRoleName").val());
        var dateCreated = $("#txtDateCreated").val();


        //将客户名称加入参数数组
        aoData.push({ "name": "RoleName", "value": roleName });
        aoData.push({ "name": "DateCreated", "value": dateCreated });

        //alert(JSON.stringify(aoData));
        $.ajax({
            "type": "get",
            "contentType": "application/json",
            "url": sSource,
            "dataType": "json",
            "data": JSON.stringify(aoData), //以json格式传递
            "success": function (data) {
                //alert(data.sEcho);
                fnCallback(data); //服务器端返回的对象的returnObject部分是要求的格式
            }
        });
    }

    function del(e) {
        $.ajax({
            "type": "get",
            "contentType": "application/json",
            data: { id: e.id },
            "url": "@Url.Content("~/Role/RoleDel")",
            "dataType": "json",
            "async": false,
            "success": function (response) {
                if (response.success == true) {
                    alert("删除数据成功！");
                    gridTable.fnReloadAjax();
                }
                else
                    alert(response.msg);
            }
        });
    }

    function edit(e) {
        var _url = "@Url.Content("~/Role/RoleEdit/")";
        window.location.href = _url + e;
    }

</script>
