<footer>
    <div class="container text-center">
        Power by BOSCH &copy; 2015 BOSCH
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</footer>
<script src="@Url.Content("~/Contents/assets/js/ace/ace.onpage-help.js")"></script>

